.allDrinksCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
}

@media screen and (min-width: 280px) and (max-width: 930px) {
  .allDrinksCont {
    grid-template-columns: repeat(1, 1fr);
  }
}
