.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  height: auto;
  width: 100%;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: center / contain no-repeat url("/src/Assets/Button.png");
  height: 8vh;
  width: 12vw;
  font-size: 1.5vw;
  font-weight: 600;
  text-shadow: -0.075rem 0.075rem 0 #ff00a7, 0.075rem 0.075rem 0 #ff00a7,
    0.075rem -0.075rem 0 #ff00a7, -0.075rem -0.075rem 0 #ff00a7;
  color: white;
  text-decoration: none;
  margin: 1%;
}

@media screen and (min-width: 280px) and (max-width: 900px) {
  .start-button {
    height: 30vh;
    width: 50vw;
    font-size: 5vw;
    font-weight: 600;
    text-shadow: -0.075rem 0.075rem 0 #ff00a7, 0.075rem 0.075rem 0 #ff00a7,
      0.075rem -0.075rem 0 #ff00a7, -0.075rem -0.075rem 0 #ff00a7;
  }
  .splash {
    justify-content: flex-end;
    height: 80vh;
  }
}

/* @media screen and (280px <= width <= 1000) {
  .start-button {
    height: 30vh;
    width: 50vw;
    font-size: 5vw;
    font-weight: 600;
    text-shadow: -0.075rem 0.075rem 0 #ff00a7, 0.075rem 0.075rem 0 #ff00a7,
      0.075rem -0.075rem 0 #ff00a7, -0.075rem -0.075rem 0 #ff00a7;
  }
  .splash {
    justify-content: flex-end;
    height: 80vh;
  }
} */
