.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  height: auto;
  width: 100%;
  animation: blink 0.25s;
  animation-iteration-count: 2;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: center / contain no-repeat url("../Assets/Button.png");
  height: 8vh;
  width: 12vw;
  font-size: 1.5vw;
  font-weight: 600;
  text-shadow: -0.075rem 0.075rem 0 #ff00a7, 0.075rem 0.075rem 0 #ff00a7,
    0.075rem -0.075rem 0 #ff00a7, -0.075rem -0.075rem 0 #ff00a7;
  color: white;
  text-decoration: none;
  margin: 1%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 280px) and (max-width: 900px) {
  .start-button {
    height: 30vh;
    width: 50vw;
    font-size: 5vw;
    font-weight: 600;
    text-shadow: -0.075rem 0.075rem 0 #ff00a7, 0.075rem 0.075rem 0 #ff00a7,
      0.075rem -0.075rem 0 #ff00a7, -0.075rem -0.075rem 0 #ff00a7;
  }
  .splash {
    justify-content: flex-end;
    height: 80vh;
  }
}
