.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 1%;
}

.question {
  height: 20%;
  width: 8%;
}

.search {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
