.question {
  height: 20%;
  width: 8%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
