.drinkThumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drinkName {
  font-size: 2vw;
  text-shadow: -0.01rem 0.01rem 0 #ff00a7, 0.01rem 0.01rem 0 #ff00a7,
    0.01rem -0.01rem 0 #ff00a7, -0.01rem -0.01rem 0 #ff00a7;
  color: white;
}

.drinkImg {
  height: auto;
  width: 25vw;
  border: 0.02rem solid #ffffff;
  box-shadow: 0 0 0.125rem #ffff, 0 0 0.75rem #ff00a6;
  margin: 2%;
}

.randomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: center / contain no-repeat url("../Assets/Button.png");
  height: 8vh;
  width: 12vw;
  font-size: 1.5vw;
  font-weight: 600;
  text-shadow: -0.075rem 0.075rem 0 #ff00a7, 0.075rem 0.075rem 0 #ff00a7,
    0.075rem -0.075rem 0 #ff00a7, -0.075rem -0.075rem 0 #ff00a7;
  color: white;
  text-decoration: none;
  margin: 1%;
  border: none;
}

.randomButton:hover {
  cursor: pointer;
}

@media screen and (min-width: 280px) and (max-width: 540px) {
  .drinkName {
    font-size: 6vw;
  }
  .drinkImg {
    height: auto;
    width: 50vw;
  }

  .randomButton {
    height: 30vh;
    width: 50vw;
    font-size: 5vw;
    font-weight: 600;
    text-shadow: -0.075rem 0.075rem 0 #ff00a7, 0.075rem 0.075rem 0 #ff00a7,
      0.075rem -0.075rem 0 #ff00a7, -0.075rem -0.075rem 0 #ff00a7;
    margin: -20%;
  }
}

@media screen and (min-width: 540px) and (max-width: 930px) {
  .drinkName {
    font-size: 6vw;
  }
  .drinkImg {
    height: auto;
    width: 50vw;
  }

  .randomButton {
    height: 30vh;
    width: 50vw;
    font-size: 5vw;
    font-weight: 600;
    text-shadow: -0.075rem 0.075rem 0 #ff00a7, 0.075rem 0.075rem 0 #ff00a7,
      0.075rem -0.075rem 0 #ff00a7, -0.075rem -0.075rem 0 #ff00a7;
    margin: 3%;
  }
}
